@import "tailwindcss";

@plugin "daisyui";

@theme {
  /* colors */
  --color-primary-50: #ffebf6;
  --color-primary-100: #ffdbf0;
  --color-primary-200: #ffb8e0;
  --color-primary-300: #ff8fce;
  --color-primary-400: #ff6bbf;
  --color-primary-500: #ff48b0;
  --color-primary-600: #ff0493;
  --color-primary-700: #c2006e;
  --color-primary-800: #84014b;
  --color-primary-900: #420026;
  --color-primary-950: #1f0011;

  --color-neutral-50: #f0f0f0;
  --color-neutral-100: #e4e4e4;
  --color-neutral-200: #cbcbcb;
  --color-neutral-300: #b1b1b1;
  --color-neutral-400: #9d9d9d;
  --color-neutral-500: #8e8e8e;
  --color-neutral-600: #808080;
  --color-neutral-700: #606060;
  --color-neutral-800: #414141;
  --color-neutral-900: #1f1f1f;
  --color-neutral-950: #0e0e0e;

  --color-accent: oklch(65% 0.25 160);
  --color-info: oklch(70% 0.2 220);
  --color-success: oklch(65% 0.25 140);
  --color-warning: oklch(80% 0.25 80);
  --color-error: oklch(65% 0.3 30);

  /* border width */
  --border-0: 0px;
  --border: 1px;
  --border-2: 2px;
  --border-4: 4px;
  --border-8: 8px;

  /* border radius */
  --rounded-none: 0px;
  --rounded-xs: 2px;
  --rounded-s: 4px;
  --rounded-md: 6px;
  --rounded-lg: 8px;
  --rounded-xl: 12px;

  /* border size */
  --border: 1px;

  /* margin */
  --margin-btm-desk: 80px;
  --margin-btm-mobi: 40px;
  --margin-grid-desk: 48px;
  --margin-grid-mobi: 24px;
  --margin-xs: 8px;
  --margin-s: 16px;
  --margin-m: 24px;
  --margin-l: 32px;
  --margin-xl: 48px;
  --margin-2xl: 64px;
  --margin-3xl: 80px;

  /* padding */
  --padding-px: 1px;
  --padding-0-5: 0px;
  --padding-1: 4px;
  --padding-1-5: 6px;
  --padding-2: 8px;
  --padding-2-5: 10px;
  --padding-3: 12px;
  --padding-3-5: 14px;
  --padding-4: 16px;
  --padding-5: 20px;
  --padding-6: 24px;
  --padding-7: 28px;
  --padding-8: 32px;
  --padding-9: 36px;
  --padding-10: 40px;
  --padding-11: 44px;
  --padding-12: 48px;
  --padding-14: 56px;
  --padding-16: 64px;
  --padding-20: 80px;
  --padding-24: 96px;
  --padding-28: 112px;
  --padding-32: 128px;
  --padding-36: 144px;
  --padding-40: 160px;
  --padding-44: 176px;
  --padding-48: 192px;
  --padding-52: 208px;
  --padding-56: 224px;
  --padding-60: 240px;
  --padding-64: 256px;
  --padding-72: 288px;
  --padding-80: 320px;
  --padding-96: 384px;

  /* width */
  --width-4xs: 212px;
  --width-3xs: 260px;
  --width-2xs: 308px;
  --width-xs: 356px;
  --width-s: 388px;
  --width-m: 428px;
  --width-lg: 476px;
  --width-xl: 524px;
  --width-2xl: 572px;
  --width-3xl: 620px;
  --width-4xl: 660px;

  /* height */
  --height-6xs: 40px;
  --height-5xs: 60px;
  --height-4xs: 100px;
  --height-3xs: 120px;
  --height-2xs: 140px;
  --height-xs: 160px;
  --height-s: 200px;
  --height-m: 220px;
  --height-lg: 240px;
  --height-xl: 260px;
  --height-2xl: 300px;
  --height-3xl: 320px;
  --height-4xl: 340px;
  --height-5xl: 360px;
  --height-6xl: 400px;

  /* effects */
  --depth: 1;
  --noise: 0;

  /* shadows */
  /* [horizontal offset] [vertical offset] [blur-radius] [spread-radius] [color] */
  --shadow-drop-25: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-drop-50: 0 4px 4px rgba(0, 0, 0, 0.5);
  --shadow-inner-25: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inner-50: inset 0 4px 4px rgba(0, 0, 0, 0.5);

  /* background blur + opacity */
  --background-blur-55: blur(6px) opacity(0.55);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  /* Fonts */
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-loos {
    font-family: "loos-extrawide", sans-serif;
  }
  .font-lora {
    font-family: "Lora", serif;
  }
}

/* UI lir */
@layer utilities {
  .blink-2 {
    animation: blink-2 3s infinite both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2025-5-29 16:50:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @keyframes blink-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .bounce-top {
    animation: bounce-top 5s infinite both;
  }
  /* ----------------------------------------------
 * Generated by Animista on 2025-5-29 16:53:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  @keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
}
