---
import MainLayout from "../layouts/MainLayout.astro";
import Hero2 from "../components/Hero2.astro";
import Heading from "../components/Heading.astro";
import Bodytext from "../components/Bodytext.astro";
import Button from "../components/Button.astro";
import 'animate.css';
---
<MainLayout title="About">
<!-- star Hero --> 
    <section class=“animate__animated animate__bounce”>
        <Hero2
        image="/hero_about.webp"
        alt="blade"
        display="About the festival"
        bodytext="Lost Farm Festival is a non-profit led by local creatives, supporting sustainable art and culture initiatives. Profits fund local projects."
        /> 
    </section>
<!-- slut Hero --> 
<!-- start Who are lost farm festival (citat)--> 
<div class="relative left-1/2 right-1/2 -mx-[50vw] w-screen bg-neutral-50/50 p-16 mb-btm-mobi md:mb-btm-desk">
<Heading size="medium" stylingclasses="md:text-5xl gap-4 md:gap-8 items-start mb-m md:mb-xl">Who Are Lost Farm Festival</Heading>
    <section class="flex flex-col md:flex-row gap-16 items-start mb-btm-mobi md:mb-btm-desk">
        <div class="w-full md:w-1/2">
            <Bodytext size="small-regular" stylingclasses="md:text-lg flex flex-col max-w-[65ch]" >
            Its mission is to support initiatives that benefit both the local community and the broader Danish and international art scene, with a focus on sustainability. Any profits from the festival are reinvested into local projects and cultural initiatives.
            <br><br>We aim to create a festival where Lostfarmers transcend their usual boundaries and encounter challenging, inspiring art in unexpected places.
            </Bodytext>  
        </div>
        <!-- citat -->
        <div class="w-full md:w-1/2 text-center px-5 fadein">
            <Heading size="xtra-small" stylingclasses="md:text-2xl text-primary-900 max-w-[65ch] mb-xs md:mb-s">"(...) By highlighting artists, the coastal community, and the landscape, we aim to make Odden an alternative cultural hub for both locals and internationals to explore."</Heading>
            <Bodytext size="small-regular" stylingclasses=" text-primary-900 text-right">Jude Bennett<br>Co-founder, Lost Farm</Bodytext>
        </div>
    </section>
</div>
<!-- slut Who are lost farm festival--> 

<!-- start Become a Lost Farm Volunteer  --> 
<Heading size="medium" stylingclasses="md:text-5xl gap-4 md:gap-8 items-start mb-m md:mb-xl">Become a Lost Farm Volunteer</Heading>
    <section class="flex flex-col md:flex-row gap-16 items-start mb-btm-mobi md:mb-btm-desk">
        <div class="w-full md:w-1/2 fadein1">
            <Bodytext size="small-regular" stylingclasses="md:text-lg flex flex-col max-w-[65ch] mb-s md:mb-m">
                Lost Farm Festival is built on community, care, and collaboration — and we need you to bring it to life! As a volunteer, you’ll be part of a sustainable, inclusive community that values respect, support, and creativity. We believe in safer spaces, zero waste, and collective action — and every Lostfarmer helps make it happen.
                <br>Want to join the crew?<br><br>We’ll soon open for volunteer sign-ups. Stay tuned and get ready to roll up your sleeves, meet new people, and help shape an unforgettable festival!
            </Bodytext>  
            <Button variant="filled-primary" size="mobile-regular md:desktop-regular">Become a volunteer</Button>
        </div>
        <!-- order sikre placering af billede -->  
        <div class="w-full md:w-1/2 flex items-center order-first md:order-none">
            <img src="../map.webp" alt="Kort over Lost farm festival" class="w-full h-auto" />  
        </div>
    </section>
<!-- slut Become a Lost Farm Volunteer --> 
</MainLayout>

<script>
import { inView } from "@motionone/dom";


const FadeIn = document.querySelector(".fadein");

inView(FadeIn, () => {
FadeIn.classList.add("animate__animated", "animate__zoomIn");
});

const FadeIn1 = document.querySelector(".fadein1");

inView(FadeIn1, () => {
FadeIn1.classList.add("animate__animated", "animate__zoomIn");
});
</script>