---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Bodytext from "../components/Bodytext.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="contact">

<!-- start contact -->
<Heading size="medium" stylingclasses="md:text-5xl items-start mb-m md:mb-xl">Contact Information - Lost Farm Crew</Heading>
<section class="flex flex-col md:flex-row items-start">
    <div class="px-5 md:px-10 mb-btm-mobi md:mb-btm-desk">

        <ul class="text-primary-50 list-disc staggeranimation" id="stagger">
            <li class="mb-xs md:mb-s">
                <Bodytext size="small-regular" stylingclasses="md:text-xl w-full inline">Steen Andersen, Co-founder & Festival Manager</Bodytext><br>
                <Link size="small-regular-link" stylingclasses="md:text-xl w-full inline" href="mailto:steen@lostfarm.org">steen@lostfarm.org</Link>
            </li>
            <li class="mb-xs md:mb-s">
                 <Bodytext size="small-regular" stylingclasses="md:text-xl w-full inline">Jude (farmer) Bennett, Co-founder & Program Lead</Bodytext><br>
                <Link size="small-regular-link" stylingclasses="md:text-xl w-full inline" href="mailto:jude@lostfarm.org">jude@lostfarm.org</Link>
            </li>
            <li class="mb-xs md:mb-s">
                <Bodytext size="small-regular" stylingclasses="md:text-xl w-full inline">Pauline Hoch, Press & Partnerships</Bodytext><br>
                <Link size="small-regular-link" stylingclasses="md:text-xl w-full inline" href="mailto:pauline@lostfarm.org">pauline@lostfarm.org</Link>
            </li>
            <li class="mb-xs md:mb-s">
                <Bodytext size="small-regular" stylingclasses="md:text-xl w-full inline">Sophia Rasmussen, Funding</Bodytext><br>
                <Link size="small-regular-link" stylingclasses="md:text-xl w-full inline" href="mailto:sophia@lostfarm.org">sophia@lostfarm.org</Link>
            </li>
            <li class="mb-xs md:mb-s">
                <Bodytext size="small-regular" stylingclasses="md:text-xl w-full inline">Petter Brandberg, Build Lead</Bodytext><br>
                <Link size="small-regular-link" stylingclasses="md:text-xl w-full inline" href="mailto:petter@lostfarm.org">petter@lostfarm.org</Link>
            </li>
        </ul>
    </div>
</section>
</MainLayout>
<!-- Slut contact -->
