---
import MainLayout from "../layouts/MainLayout.astro"
import Hero2 from "../components/Hero2.astro"
import Heading from "../components/Heading.astro"
---
<MainLayout title="Partners & fundings">
<!-- Hero start -->
<Hero2
  image="../partners-hero.webp"
  alt="Funding & Partners"
  display="Funding & Partners"
  bodytext="Lost Farm Festival wouldn't be possible without the support from our amazing partners and funders. Their trust, energy and commitment makes it possible for us to dream big and create something truly special."

/>
 <!-- Hero slut -->
<!-- Start Overblik af partners og funding -->
<section class="relative left-1/2 right-1/2 -mx-[50vw] w-screen bg-neutral-50/50 py-16 mb-btm-mobi md:mb-btm-desk">
    <div class=" mx-auto md:px-6">
        <Heading size="medium" stylingclasses="md:text-5xl pl-6 md:pl-15 mb-m md:mb-xl">Meet our Partners</Heading> 
        <div class="grid grid-cols-2 md:grid-cols-5 items-center justify-items-center" >
            <img src="/partner.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner1.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner2.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner3.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner4.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner1.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner2.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner3.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
            <img src="/partner4.svg" alt="lorem ipsum logo" class="max-h-30 md:max-h-40 w-auto hover:cursor-pointer" />
        </div>
    </div>
</section>
<!-- slut Overblik af partners og funding -->

</MainLayout>

