---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Bodytext from "../components/Bodytext.astro";
---

<MainLayout>
<section title="artist" >
<!-- Pil tilbage -->
<a href="/program" class="flex items-center mb-xs mt-l md:mb-s animate-bounce">
    <img src="/back-icon.svg" alt="Tilbage" class="h-12 w-12 mr-2" />
</a>
<!-- slut Pil tilbage -->

<!-- Artist information -->
<div class="min-h-screen">
    <Heading size="medium" stylingclasses="md:text-5xl md:mb-l mb-s">Dis Fig ft. Spooky J</Heading>

    <!-- indhold start -->
    <div class="flex flex-col md:flex-row gap-4 md:gap-8 items-center md:items-start md:mb-btm-desk mb-btm-mobi">
        <!-- billede start -->
        <img src="/artist-placeholde.webp" alt="artist billede" class="w-full md:w-1/2" /> 
        <!-- Text and icons -->
        <div class="w-full md:w-1/2 flex flex-col fadein">
            <!-- Bodytext -->
            <Bodytext size="small-regular" stylingclasses="md:text-lg leading-relaxed max-w-xl mb-s md:mb-l" >
                Dis Fig channels raw emotional intensity through voice, movement, and sonic ritual—blending beauty and chaos in equal measure. Joined by Spooky-J, she presents a powerful new live show shaped during her 2024 CTM residency. <br> <br>
                Resisting simple categorization, Dis Fig's sound defines the music industry's conventions, incorporating synthetic brass sections, flutes, and piles of quiet moments that either shatter or balance her landscape of raw intensity.
            </Bodytext>
            <!-- Icons under bodytext 3 cols-->
            <div class="flex flex-row gap-4 md:gap-8">
                <div class="flex items-center gap-2 md:gap-4">
                    <img src="/tid-icon.svg" alt="tid" class="w-6 h-6" />
                    <Heading size="xtra-xtra-small" stylingclasses=" md:text-lg">kl.20:00</Heading>
                </div>
                <div class="flex items-center gap-2 md:gap-4">
                    <img src="/sted-icon.svg" alt="sted" class="w-6 h-6" />
                    <Heading size="xtra-xtra-small" stylingclasses="md:text-lg">Scene 1</Heading>
                </div>
                 <div class="flex items-center gap-2 md:gap-4">
                    <img src="/genre-icon.svg" alt="genre" class="w-6 h-6" />
                    <Heading size="xtra-xtra-small" stylingclasses="md:text-lg">Pop</Heading>
                </div>
            </div>
        </div>
    </div>
    <!-- indhold slut -->
</div>
</MainLayout>
<!-- Artist information slut -->

<!-- UI lir  -->
<script>
    import { inView } from "@motionone/dom";

const FadeIn = document.querySelector(".fadein");

inView(FadeIn, () => {
FadeIn.classList.add("animate__animated", "animate__zoomIn");
});
</script>
<!-- Ui lir Slut -->