---
import MainLayout from "../layouts/MainLayout.astro"
import Display from "../components/Display.astro";
import Bodytext from "../components/Bodytext.astro";
import Processbar from '../components/Processbar.astro';
---
<MainLayout> 

<Processbar />
 
<section class="md:pl-6 md:px-10 mb-btm-mobi md:mb-btm-desk">
  <div class="min-h-screen">
    <Display size="display-mobile" stylingclasses="md:mb-xl mb-m md:text-8xl text-primary-500" >We look forward to seeing you!</Display>
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-28">
      <div></div>
      <div>
        <Bodytext size="medium-regular" stylingClasses="md:text-xl">
          Your ticket has been confirmed. We're excited to welcome you to an unforgettable experience filled with art, music, and performances.<br /><br />
          To make the most of your time, feel free to explore more about the festival, including event schedules, travel tips, and everything you need to know. We can't wait to see you there and share this amazing journey with you!
        </Bodytext>
      </div>
    </div>
  </div>
</section>
</MainLayout>