---
import MainLayout from "../layouts/MainLayout.astro";
import Hero2 from "../components/Hero2.astro";
import TicketCard from "../components/TicketCard.astro";
---
<MainLayout title="Tickets">

<!-- Hero start -->
<div class="mb-btm-mobi md:mb-btm-desk">
    <Hero2 
    image="/hero_ticket.webp"
    display="Tickets"
    bodytext="On the 8-10. August 2025, we invite you to join the first LOST FARM FESTIVAL adventure. As part of a gathering of only a few hundred lostfarmers, in the unique landscape of Sjællands Odde, Denmark you will get the opportunity to experience over 30 acts and projects on an ambitious and independent festival that embraces experimenting and places the landscape, community, and art to the front." 
    />
</div>
<!-- Hero slut -->

<!-- Ticket card start -->
<div class="flex flex-col md:flex-row md:gap-8 gap-2 mb-btm-mobi md:mb-btm-desk w-full">
  <div class="flex-1">
    <TicketCard 
    title="3-days Ticket"
    description="This ticket gives access to 3 days of art, music, and performances."
    price="950 DKK"
    buttonText="Buy Ticket"
    />
  </div>
  <div class="flex-1">
    <TicketCard 
    title="VIP Child Ticket 3 year+"
    description="This ticket is valid for children 3-13 years old accompanied by an adult and gives access to 3 days of art, music, and performances."
    price="400 DKK"
    buttonText="Buy Ticket"
    />
  </div>
</div>
</MainLayout>