---
---

 <!-- Progress bar -->
    <div class="flex justify-between m-btm-mobi md:m-btm-desk text-sm font-bold cursor-pointer">
      <a href="/step1" class="step font-montserrat font-bold text-lg px-4 py-2 text-primary-500" data-step="1">1</a>
      <div class="flex-1 h-0.5 mt-s bg-primary-50 px-2"></div>
      <a href="/step2" class="step font-montserrat font-bold text-lg px-4 py-2 text-primary-500" data-step="2">2</a>
      <div class="flex-1 h-0.5 mt-s bg-primary-50 px-2"></div>
      <a href="/step3" class="step font-montserrat font-bold text-lg px-4 py-2 text-primary-500" data-step="3">3</a>
      <div class="flex-1 h-0.5 mt-s bg-primary-50 px-2"></div>
      <a href="/step4" class="step font-montserrat font-bold text-lg px-4 py-2 text-primary-500" data-step="4">4</a>
      <div class="flex-1 h-0.5 mt-s bg-primary-50 px-2"></div>
      <a href="/step5" class="step font-montserrat font-bold text-lg px-4 py-2 text-primary-500" data-step="5">5</a>
    </div>