---
import Button from "./Button.astro";
import Bodytext from "./Bodytext.astro";
import Heading from "./Heading.astro";
const { title, description, price, buttonText } = Astro.props;
---

<div class="p-10 h-xl md:h-5xl bg-neutral-50/50 overflow-hidden">
  <Heading size="small" stylingclasses="md:text-3xl md:mb-s mb-xs text-primary-900">
    {title}
  </Heading>

  <Bodytext size="small" stylingclasses="md:text-lg md:mb-s mb-xs text-primary-900 max-w-[50ch]">
    {description}
  </Bodytext>  

  <Bodytext size="small" stylingclasses="md:text-lg md:mb-s mb-xs text-primary-900 font-bold">
    {price}
  </Bodytext>  

  <a href="/step1">
    <Button variant="filled-primary" size="mobile-regular md:desktop-regular">
      {buttonText}
    </Button>
  </a>

  <slot />
</div> 

